body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f9;  */
    background: linear-gradient(45deg, #b2cbf5, #566aa2); 
    background-image: url('https://static.vecteezy.com/system/resources/previews/023/883/561/non_2x/abstract-background-illustration-abstract-blue-background-illustration-simple-blue-background-for-wallpaper-display-landing-page-banner-or-layout-design-graphic-for-display-free-vector.jpg'); 
    background-size: cover;  
    background-position: center center; 
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.form-container {
    background-color: #f4f3f3; 
    padding: 25px; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

h1 {
    margin-bottom: 15px; 
    font-size: 22px;
    color: #333; 
}

label {
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
    font-weight: normal; 
    color: #000; 
}

input {
    width: 90%; 
    padding: 12px;
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;  
    margin-left: auto; 
    margin-right: auto; 
}

input[type="email"],
input[type="password"] {
    width: 90%; 
    padding: 15px; 
}
button {
    width: 60%; 
    padding: 12px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
    margin-left: auto; 
    margin-right: auto; 
}


button:hover {
    background-color: #0056b3; 
}

p {
    margin-top: 10px;
}

a {
    color: #007BFF; 
    text-decoration: none;
}

.login-text {
    text-align: center; 
    margin-top: 15px; 
}

.login-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline; 
}
